#controls {
  /* Appearance */
  background-color: lightgray;
  padding: 0 0 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.35;
  zoom: 0.9;
  transition: opacity 200ms 500ms;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.65;
  transition-delay: 0;
}

